.navbar{
  margin-bottom: 0px;
}

.oblacek {
  position: relative;
  display: inline-block;
  margin-right: 35px;

}

.oblacek .txtOblacek {
  visibility: hidden;
  width: 120px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.oblacek:hover .txtOblacek {
  visibility: visible;
}

#postavkeNavbar{
  min-height: 0px;
  background-color: #cccccc;
  margin-bottom: 20px;
}

#postavkeList{
  color: black;
  float: left;
}

#prijavljenNavbar{
  float: right;
}

#postavkeList, li{
  margin-right: 25px;
  margin-top: 5px;
}

.addGrade {
    font-size: 20px;
    color: grey;
}

.addGrade:hover{
    font-weight:bold;
    cursor: pointer;
    color: black;
}

#ocena:hover {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

#tabela{
    display: grid;
    grid-template-columns: 15% 15%;
}

textarea{
    max-width: 250px;
    max-height: 250px;
}
